.root {
    -fx-background-image: url("pic/background.jpg");
    -fx-background-size: stretch stretch;
    -fx-background-position: center center;
}


#Time,#TimeText,#FormationChoice,#FormationChoiceText,#SpeedChoice{
    -fx-text-fill: white;
}



/*速度选择样式有问题*/
